* {
  margin: 0;
  paddin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #0f0d13;
  color: #E1E1E6;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#big-player {
  position: relative;
  animation: right 500ms
}
#mean-player,
#small-player {
  position: relative;
  animation: left 500ms
}

@keyframes right {
  from { right: 0px}
  to { right: 200px}
}

@keyframes left {
  from { left: 0px}
  to { left: 200px}
}



