* {
  margin: 0;
  paddin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #0f0d13;
  color: #E1E1E6;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


